<div class="fondo">
  <a>ㅤ</a>
  <div class="col-md-12">
    <div class="card card-container">
      <h2>Ingrese el archivo del juego</h2>

      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="name">Nombre del juego:</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="form.name"
            #name="ngModel"
            required
            [ngClass]="{ 'is-invalid': f.submitted && name.errors }"
          />
          <div *ngIf="name.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="name.errors['required']">Team name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="zip">Zip:</label>
          <input
            type="file"
            accept=".zip"
            class="form-control-file"
            name="zip"
            [(ngModel)]="form.zip"
            required
            #zip="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && zip.errors }"
          />
          <div *ngIf="zip.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="zip.errors['required']">Zip is required</div>
          </div>
        </div>

        <button class="btn btn-primary btn-block">Upload</button>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        ¡Subida exitosa!
      </div>
    </div>
  </div>
</div>
