<div class="fondo">
  <a>ㅤ</a>

  <div class="m-5">
    <div *ngIf="!joinTeam">
      <h2 class="center">Equipos que entregaron el archivo zip</h2>
      <div class="m-5 d-flex justify-content-center align-items-center">
        <ul class="list-group">
          <li
            class="list-group-item list-group-item-info"
            *ngFor="let equipo of nombresEquipos"
          >
            {{ equipo }}
          </li>
        </ul>
      </div>
    </div>

    <div class="alert alert-success" *ngIf="joinTeam">Te uniste al equipo</div>
  </div>
</div>
