<div class="fondo">
  <a>ㅤ</a>
  <div class="col-md-12">
    <div class="card card-container">
      <h2>Crea un nuevo equipo</h2>

      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="team">Nombre del equipo:</label>
          <input
            type="text"
            class="form-control"
            name="team"
            [(ngModel)]="form.team"
            required
            minlength="3"
            maxlength="20"
            #team="ngModel"
            pattern="^[0-9a-zA-Z@#$%&*.!?]+$"
            [ngClass]="{ 'is-invalid': f.submitted && team.errors }"
          />
          <div *ngIf="team.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="team.errors['required']">Team name is required</div>
            <div *ngIf="team.errors['pattern']">
              Only alphanumerics and @ # $ % & * . ! ? no space
            </div>
            <div *ngIf="team.errors['maxlength']">
              Team name must be less than 20 characters
            </div>
            <div *ngIf="team.errors['minlength']">
              Team name must be longer than 3 characters
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-block">Crear</button>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Create successful!
      </div>
    </div>
  </div>

  <div class="m-5 d-flex justify-content-center align-items-center">
    <div *ngIf="!joinTeam">
      <h2>Equipos disponibles</h2>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let equipo of nombresEquipos"
        >
          {{ equipo }}
          <button class="btn btn-primary" (click)="onSelectTeam(equipo)">
            unirse
          </button>
        </li>
      </ul>
    </div>

    <div class="alert alert-success" *ngIf="joinTeam">
      Te uniste al equipo
    </div>

  </div>
</div>
