<div class="fondo">
  <a>ㅤ</a>
  <div class="col-md-12">
    <div class="card card-container">
      <h2>Solicitud para ser organizador local</h2>

      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="form.name"
            required
            #name="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && name.errors }"
          />
          <div *ngIf="name.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="name.errors['required']">Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
          />
          <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="email.errors['required']">Email is required</div>
            <div *ngIf="email.errors['email']">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <div class="form-select">
          <label for="place">Lugar:</label>
          <select
            class="form-control"
            name="place"
            [(ngModel)]="form.place"
            required
            #place="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && place.errors }"
          >
            <option value="">Seleccionar</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="España">España</option>
            <option value="Estados Unidos">Estados Unidos</option>
          </select>
          <div *ngIf="place.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="place.errors['required']">Place is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="description"
            >Descripcion breve de porque desea ser organizador:</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            [(ngModel)]="form.description"
            required
            #description="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && description.errors }"
          />
          <div
            *ngIf="description.errors && f.submitted"
            class="invalid-feedback"
          >
            <div *ngIf="description.errors['required']">
              Description is required
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-block">Enviar Solicitud</button>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Solicitud enviada correctamente!
      </div>
    </div>
  </div>
</div>
