<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">GameJam</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showParticipanteBoard">
        <a href="/teams" class="nav-link" routerLink="teams">Equipos </a>
      </li>
      <li class="nav-item" *ngIf="showJuezBoard">
        <a href="/entregableZip" class="nav-link" routerLink="entregableZip">Entregable Zip </a>
      </li>
      <li class="nav-item" *ngIf="showJuezBoard">
        <a href="/entregableVideo" class="nav-link" routerLink="entregableVideo">Entregable Video </a>
      </li>
      <li class="nav-item" *ngIf="showJuezBoard">
        <a href="/calificar" class="nav-link" routerLink="calificar">Calificar Juegos </a>
      </li>
      <li class="nav-item" *ngIf="showParticipanteBoard">
        <a href="/participante" class="nav-link" routerLink="participante"
          >Subir Link</a
        >
      </li>
      <li class="nav-item" *ngIf="showParticipanteBoard">
        <a href="/uploadFile" class="nav-link" routerLink="uploadFile"
          >Subir juego</a
        >
      </li>
      <li class="nav-item" *ngIf="showParticipanteBoard">
        <a href="/solicitudSerOrganizador" class="nav-link" routerLink="solicitudSerOrganizador"
          >Solicitar ser organizador
        </a>
      </li>
      <li class="nav-item" *ngIf="showOrganizadorGlobalBoard">
        <a
          href="/organizadorglobal"
          class="nav-link"
          routerLink="organizadorglobal"
          >Dar permisos</a
        >
      </li>
      <li class="nav-item" *ngIf="showOrganizadorLocalBoard">
        <a
          href="/organizadorlocal"
          class="nav-link"
          routerLink="organizadorlocal"
          >Juegos</a
        >
      </li>
      <li class="nav-item" *ngIf="showJuezBoard">
        <a href="/juez" class="nav-link" routerLink="juez">Juez Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{
          username
        }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <!-- <div class="container"> -->
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
